body {
    margin: 0;
    background: #221f1f;
  }
header {
  background: #1c1c1c;
  text-align: center;
}
header a {
  text-decoration: none;
  outline: none;
  display: block;
  transition: .3s ease-in-out;
}
nav {
  display: table;
  margin: 0 auto;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.topmenu:after {
  content: "";
  display: table;
  clear: both;
}
.topmenu > li {
  width: 16%;
  float: left;
  position: relative;
  font-family: 'Roboto', sans-serif;
}
.topmenu > li > a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  color: white;
  padding: 15px 30px;
}
.form-search {
    background-color: #221f1f;
    width: 300px;
    float: inline-end;
    margin: 15px;
    border: none;
}
.topmenu li a:hover { color: #3936e9; }
.submenu-link:after {
  content: "\f107";
  font-family: "FontAwesome";
  color: white;
  margin-left: 10px;
}
.submenu {
  background: #3936e9;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 5;
  width: 180px;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: .5s ease-in-out;
}
.submenu a {
  color: white;
  text-align: left;
  padding: 12px 15px;
  font-size: 14px;
  border-bottom: 1px solid rgba(255,255,255,.1);
}
.submenu li:last-child a { border-bottom: none; }
.topmenu > li:hover .submenu {
  opacity: 1;
  transform: scaleY(1);
}