body {
    background-color: #0D0D0D;
}
  form {
    background: #0D0D0D;
    float: left;
    max-width: 600px;
    width: 100%;
    padding: 30px;
    color: #FFFF 20%; 
  }
  
  form div {
    margin-bottom: 15px;
    position: relative;
  }
  .form-wrap h1 {
    font-size: 21px;
    font-weight: 400;
    font: 1em sans-serif;
    color: #FFFFFF;
    margin-left: 40px;
    margin-top: 50px;
  }
  
  input[type="text"], input[type="email"], input[type="password"], input[type="confirm-password"] {
    border-width: 0;
    outline: none;
    margin: 0;
    width: 100%;
    padding: 10px 15px;
    background: #0D0D0D;
    color: #FFFFFF;
    border-bottom: 1px solid #3F3F3F;
   
  
  }
  input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="confirm-password"]:focus {
    box-shadow: 0px 1px 0 #107EFF;
  }
  button {
    background: #3137C9;
    color: #FFFFFF;
  
    outline: none;
    border-radius: 5px;
    border: #3137C9;
    font: 1em sans-serif;
 }
  .avatar {
    display: flex;
    align-items: center;
    justify-content:first baseline;  
    margin-top: 40px; 
  }
.choose {
font: 1em sans-serif;
color: #107EFF;
font-size: 14px;
display: flex;
align-items: center;
justify-content: first baseline;
margin-left: 20px;
}

/*медиа*/
@media (max-width: 600px) {
  .form-wrap {margin: 20px auto; max-width: 550px; width:100%;}
  .profile, form {float: none; width: 100%;}
  h1 {margin-top: auto; padding-bottom: 50px;}
  form {border-radius: 0 0 20px 20px;}
}

  